.job-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    background: white;
}

.applied {
    color: blue;
    font-weight: bold;
}

.interview {
    color: orange;
    font-weight: bold;
}

.offer {
    color: green;
    font-weight: bold;
}

.rejected {
    color: red;
    font-weight: bold;
}