body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.job-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select,
button {
  padding: 12px;
  font-size: 16px;
}

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}